<p>
   <div class = "top_action">
   <a asp-controller="Home" asp-action="CurrentSession" method="get">Home Page</a>
    <a asp-controller="Login" asp-action="LoginPage" method="get">Logout</a> 
</div>
</p>