<p>Hello @ViewBag.User.First_Name</p>
<a asp-controller="Login" asp-action="LoginPage" method="get">Logout</a> 
<p>Please choose an option</p>
<p><a asp-controller="Auto" asp-action="AutoInfo">Auto and Parts</a></p>
<p><a asp-controller="Job" asp-action="JobInfo">Jobs</a></p>
